@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap');

body {
    background-color: #272727;
    padding: 0;
    margin: 0;
    color: #00ff97;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    list-style-type: none;
}

/* DAYS */
.days {
    margin: 50px auto 50px auto;
}

.days ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.days ul li {
    font-weight: lighter;
    padding: 5px 40px 5px 40px;
}

.today {
    font-weight: bold !important;
    border-bottom: 3px solid;
}

/* CLOCK */
.clock {
    display: block;
    width: fit-content;
    margin: 10% auto 10% auto;

}

.clock ul {
    display: flex;
    justify-content: center;
}

.clock ul li {
    font-size: 8rem;
}

/* BUTTONS */
.buttons {
    display: block;
    width: fit-content;
    margin: 0 auto 0 auto;
}

.buttons input {
    background-color: inherit;
    border:  3px solid transparent;
    color: inherit;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.buttons input:hover {
    border: 3px solid whitesmoke;
    
}

/* Media Queries */
@media screen and (max-width: 990px) {
    body {
        height: 70vh;
        display: flex;
        flex-direction:column-reverse;
        justify-content: center;
        align-items: center;
    }
    .days li{
        font-size: 24px;
        display: none;
    }
    .days ul {
        margin:0;
        padding: 0;
    }
    .days .today {
        display: block;
    }
    .clock ul li{
        font-size: 48px;
    }
    .clock ul {
        margin: 0;
        padding: 0;
    }
}